$nav-padding: 30px;

.nav {
  display: block;
  position: absolute;
  top: $nav-padding;
  left: $nav-padding;
  z-index: 1;

  .nav-logo {
    content: url("./SumoCreationsLogo.svg");
    display: block;
    height: 79px;
    left: 0;
    position: absolute;
    top: 0;
    width: 131px;
  }
}
