.side-bar {
  background-color: darken($body-bg, 10);
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 1;
  position: fixed;
  transition: width 0.25s ease-out;

  @include media-breakpoint-up(xs) {
    a { font-size: 3rem; padding: 0.5rem; }
    width: 100vw;
  }

  @include media-breakpoint-up(sm) {
    a { font-size: 4rem; padding: 1rem; }
  }

  @include media-breakpoint-up(md) {
    width: 50vw;
  }

  @include media-breakpoint-up(xl) {
    a { font-size: 6rem; padding: 2rem; }
    width: 33vw;
  }

  ul {
    list-style: none;
    padding: 4rem 1rem;
    margin: 0;
    display: block;

    li {
      padding: 0;
      margin: 0;
    }

    a {
      font-weight: normal;
      text-decoration: none;
      opacity: 0.5;
      color: $link-color;

      &.active {
        opacity: 1;
        font-weight: bold;
      }
    }
  }

}
