@import '../../config/skeleton';
@import './Nav.scss';
@import 'bourbon';


$nav-handle-width: 28px;
$nav-handle-height: 3px;

.side-bar {
  // background: transparentize(darken($background-color, 25%), 75%);
  background-color: darken($background-color, 10);
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 1;

  ul {
    list-style: none;
    padding: 4rem 1rem;
    margin: 0;
    display: block;

    li {
      padding: 0;
      margin: 0;
    }

    a {
      font-weight: normal;
      font-size: 6rem;
      text-decoration: none;
      opacity: 0.5;
      padding: 2rem;

      &.active {
        opacity: 1;
        font-weight: bold;
      }
    }
  }

  .nav-toggle {
    display: flex;
    position: absolute;
    right: $nav-padding;
    text-transform: uppercase;
    text-decoration: none;
    top: $nav-padding;
    z-index: 1;
  }

  .nav-button {
    border: none;
    color: $link-color;
    font-weight: 200;
    padding: 0;
    margin: 0;
  }

  .nav-button-text {
    opacity: 1;
    @include transition(opacity 0.25s);
    @include selection(true) {
      background-color: rgba(0,0,0,0);
    }
  }

  .nav-handle {
    margin: 0 0 0 10px;;
    width: $nav-handle-width;
    height: 30px;

    &::before,
    &::after,
    span {
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      background: $link-color;
      margin-top: -$nav-handle-height/2;
      @include transform-origin(50% 50%);
      width: $nav-handle-width;
      height: $nav-handle-height;
    }

    span {
      @include transition(opacity 0.25s);
    }

    &::before,
    &::after {
      position: absolute;
      content: '';
      display: block;
      height: $nav-handle-height;
      width: $nav-handle-width;
      top: 50%;
      @include transform-origin(50% 50%);
      @include transition-property(transform);
      @include transition-duration(0.25s);
      @include transition-timing-function(ease-out);
    }

    &::before {
      @include transform(translate(0, -8px));
    }

    &::after {
      @include transform(translate(0, 8px));
    }
  }

  .nav-active {
    .nav-button-text {
      opacity: 0;
    }

    .nav-handle {
      &::before {
        @include transform(rotate(45deg));
      }

      &::after {
        @include transform(rotate(-45deg));
      }

      & span {
        opacity: 0;
      }
    }
  }

}
